## Importing libraries to use for analysis

In [52]:
import pandas as pd
import numpy as np
import xam
import matplotlib.pyplot as plt

In [53]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
sample = pd.read_csv('sample_submission2.csv')

In [54]:
train_df.head()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0
3,YAK/S/00004,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1982,2.5,2009,0,0,42,NIGER,Yes,Single,No,No,1,0
4,YAK/S/00006,Information and Strategy,First Degree or HND,Male,Direct Internal process,3,1990,7.5,2012,0,0,77,AKWA IBOM,Yes,Married,No,No,1,0

In [55]:
test_df.head()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers
0,YAK/S/00005,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1976,7.5,2017,0,0,65,FCT,Yes,Married,No,No,1
1,YAK/S/00011,Information Technology and Solution Support,NaN,Male,Direct Internal process,2,1991,0.0,2018,0,0,69,OGUN,Yes,Married,No,No,1
2,YAK/S/00015,Research and Innovation,"MSc, MBA and PhD",Male,Direct Internal process,2,1984,7.5,2012,0,0,76,KANO,Yes,Married,No,No,1
3,YAK/S/00016,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1984,2.5,2009,0,0,52,RIVERS,No,Single,No,No,1
4,YAK/S/00017,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1983,7.5,2014,1,0,69,FCT,Yes,Married,No,No,0

In [56]:
test_df_id = test_df["EmployeeNo"]

In [57]:
test_df.shape

(16496, 18)

In [58]:
#dropping the Employee ID
train_df.drop('EmployeeNo', axis=1, inplace=True)
test_df.drop('EmployeeNo', axis=1, inplace=True)

In [59]:
test_df.head(2)

,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers
0,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1976,7.5,2017,0,0,65,FCT,Yes,Married,No,No,1
1,Information Technology and Solution Support,NaN,Male,Direct Internal process,2,1991,0.0,2018,0,0,69,OGUN,Yes,Married,No,No,1

In [60]:
#to know the numerical features
train_df.dtypes

Division                                object
Qualification                           object
Gender                                  object
Channel_of_Recruitment                  object
Trainings_Attended                       int64
Year_of_birth                            int64
Last_performance_score                 float64
Year_of_recruitment                      int64
Targets_met                              int64
Previous_Award                           int64
Training_score_average                   int64
State_Of_Origin                         object
Foreign_schooled                        object
Marital_Status                          object
Past_Disciplinary_Action                object
Previous_IntraDepartmental_Movement     object
No_of_previous_employers                object
Promoted_or_Not                          int64
dtype: object

In [61]:
# Getting the categorical and numerical feature
cat_features = ['Division', 'Qualification', 'Gender', 'Channel_of_Recruitment',
                'State_Of_Origin', 'Foreign_schooled', 'Marital_Status','Past_Disciplinary_Action', 
                'Previous_IntraDepartmental_Movement', 'No_of_previous_employers']

num_features = ['Trainings_Attended', 'Year_of_birth', 'Year_of_recruitment', 'Targets_met', 
               'Previous_Award', 'Training_score_average', 'Promoted_or_Not']

In [62]:
# Getting the value counts of Gender
train_df['Gender'].value_counts()

Male      26880
Female    11432
Name: Gender, dtype: int64

In [63]:
# Getting the value counts of Channel_of_Recruitment
train_df["Channel_of_Recruitment"].value_counts()

Agency and others                  21310
Direct Internal process            16194
Referral and Special candidates      808
Name: Channel_of_Recruitment, dtype: int64

## EXPLORATION OF CATEGORICAL FEATURES

In [64]:
# To get the unique value for all the categorical variable
for cat in cat_features:
    print(cat)
    print(train_df[cat].unique())
    print("-------------------")

Division
['Commercial Sales and Marketing' 'Customer Support and Field Operations'
 'Information and Strategy' 'Information Technology and Solution Support'
 'Sourcing and Purchasing' 'Business Finance Operations'
 'People/HR Management' 'Research and Innovation'
 'Regulatory and Legal services']
-------------------
Qualification
['MSc, MBA and PhD' 'First Degree or HND' nan 'Non-University Education']
-------------------
Gender
['Female' 'Male']
-------------------
Channel_of_Recruitment
['Direct Internal process' 'Agency and others'
 'Referral and Special candidates']
-------------------
State_Of_Origin
['ANAMBRA' 'KATSINA' 'NIGER' 'AKWA IBOM' 'ENUGU' 'OYO' 'LAGOS' 'ONDO'
 'KWARA' 'EDO' 'BAUCHI' 'TARABA' 'RIVERS' 'KADUNA' 'PLATEAU' 'EKITI'
 'BORNO' 'IMO' 'CROSS RIVER' 'KANO' 'FCT' 'OGUN' 'GOMBE' 'DELTA' 'BENUE'
 'ZAMFARA' 'OSUN' 'ABIA' 'KEBBI' 'ADAMAWA' 'NASSARAWA' 'SOKOTO' 'KOGI'
 'JIGAWA' 'BAYELSA' 'YOBE' 'EBONYI']
-------------------
Foreign_schooled
['No' 'Yes']
-------------------
Marital_Status
['Married' 'Single' 'Not_Sure']
-------------------
Past_Disciplinary_Action
['No' 'Yes']
-------------------
Previous_IntraDepartmental_Movement
['No' 'Yes']
-------------------
No_of_previous_employers
['0' '1' '4' '3' '2' 'More than 5' '5']
-------------------

In [65]:
# Check if there is a missing column and get the sum of the missing column
train_df.isna().sum()

Division                                  0
Qualification                          1679
Gender                                    0
Channel_of_Recruitment                    0
Trainings_Attended                        0
Year_of_birth                             0
Last_performance_score                    0
Year_of_recruitment                       0
Targets_met                               0
Previous_Award                            0
Training_score_average                    0
State_Of_Origin                           0
Foreign_schooled                          0
Marital_Status                            0
Past_Disciplinary_Action                  0
Previous_IntraDepartmental_Movement       0
No_of_previous_employers                  0
Promoted_or_Not                           0
dtype: int64

In [66]:
train_df["Qualification"].value_counts()

First Degree or HND         25578
MSc, MBA and PhD            10469
Non-University Education      586
Name: Qualification, dtype: int64

In [67]:
## Filling missing variable
train_df["Qualification"] = train_df["Qualification"].fillna(value = "First Degree or HND")
test_df["Qualification"] = test_df["Qualification"].fillna(value = "First Degree or HND")

## EXPLORATION OF NUMERICAL FEATURES

In [68]:
##describes give us an important statistic about numerical features
train_df[num_features].describe()

,Trainings_Attended,Year_of_birth,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,Promoted_or_Not
count,38312.000000,38312.000000,38312.000000,38312.000000,38312.000000,38312.000000,38312.000000
mean,2.253680,1986.209334,2013.139695,0.352996,0.023152,55.366465,0.084595
std,0.609443,7.646047,4.261451,0.477908,0.150388,13.362741,0.278282
min,2.000000,1950.000000,1982.000000,0.000000,0.000000,31.000000,0.000000
25%,2.000000,1982.000000,2012.000000,0.000000,0.000000,43.000000,0.000000
50%,2.000000,1988.000000,2014.000000,0.000000,0.000000,52.000000,0.000000
75%,2.000000,1992.000000,2016.000000,1.000000,0.000000,68.000000,0.000000
max,11.000000,2001.000000,2018.000000,1.000000,1.000000,91.000000,1.000000

ENCODING CATEGORICAL FEATURES

In [71]:
#importing a library called labelecoder 
from sklearn.preprocessing import LabelEncoder

#Applying labelecoder on cats variable
lb = LabelEncoder()

for cat in cat_features:
    lb.fit(train_df[cat])
    train_df[cat] = lb.transform(train_df[cat])
    test_df[cat] = lb.transform(test_df[cat])

In [72]:
train_df.head()

,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,1,1,0,1,2,1986,12.5,2011,1,0,41,3,0,0,0,0,0,0
1,2,0,1,0,2,1991,12.5,2015,0,0,52,3,1,0,0,0,0,0
2,1,0,1,1,2,1987,7.5,2012,0,0,42,20,1,0,0,0,0,0
3,1,0,1,0,3,1982,2.5,2009,0,0,42,26,1,2,0,0,1,0
4,4,0,1,1,3,1990,7.5,2012,0,0,77,2,1,0,0,0,1,0

In [73]:
test_df.head()

,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers
0,3,0,1,0,2,1976,7.5,2017,0,0,65,14,1,0,0,0,1
1,3,0,1,1,2,1991,0.0,2018,0,0,69,27,1,0,0,0,1
2,7,1,1,1,2,1984,7.5,2012,0,0,76,19,1,0,0,0,1
3,2,0,1,0,2,1984,2.5,2009,0,0,52,32,0,2,0,0,1
4,3,0,1,0,2,1983,7.5,2014,1,0,69,14,1,0,0,0,0

In [74]:
train_df.shape

(38312, 18)

In [75]:
test_df.shape

(16496, 17)

# split data into local train and test set using just the train data

In [76]:
from sklearn.model_selection import train_test_split

In [77]:
X_train_df, X_test, y_train_df, y_test = train_test_split(train_df, y, test_size=0.3, random_state=1)

In [27]:
#Import standardscaler use for standardizing our train data
from sklearn.preprocessing import StandardScaler

In [28]:
# Applying it on our X_train_df and X_test_df
ss = StandardScaler()
ss.fit(X_train_df)
X_train_df = ss.transform(X_train_df)
X_test = ss.transform(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """

In [29]:
# Import some algorithm we are going to use for prediction
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score

In [30]:
gb = GradientBoostingClassifier(n_estimators=200, learning_rate=0.3)
gb.fit(X_train_df,y_train_df)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.3, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=200,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [34]:
gb_pred = gb.predict(X_test)

f1_score(gb_pred, y_test)

0.5090634441087614

In [39]:
from lightgbm import LGBMClassifier

In [40]:
lgbm = LGBMClassifier(n_estimators=1200, max_depth=4, random_state=42)
lgbm.fit(X_train_df, y_train_df)
lgbm_pred = lgbm.predict(X_test)
f1_score(lgbm_pred, y_test)

0.5088495575221239

## Standardizing the Final Train and Test data

In [44]:
ss = StandardScaler()
ss.fit(train_df)
train_df = ss.transform(train_df)
test_df = ss.transform(test_df)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [45]:
# Fit on the train and target features
gb.fit(train_df, y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.3, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=200,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [46]:
final_pred = gb.predict(test_df)

### Creating final Submission File

In [47]:
sample['Promoted_or_Not'] = final_pred
sample['EmployeeNo'] = test_df_id

In [48]:
sample.head()

    EmployeeNo  Promoted_or_Not
0  YAK/S/00005                0
1  YAK/S/00011                0
2  YAK/S/00015                0
3  YAK/S/00016                0
4  YAK/S/00017                0

In [49]:
sample.Promoted_or_Not.value_counts()

0    15956
1      540
Name: Promoted_or_Not, dtype: int64

In [50]:
sample.to_csv("my_fina_l_submission_to_kaggle.csv", index=False)